table, td {
    border: thin solid black;
}

#lines {
    width: 100%;
    height: 100%;
}

div.new-song {
    margin-left: 35%;
    margin-top: 5em;
    float: right;
    width: 100%;
}

div.new-song table {
    width: 100%;
}

div.end-song {
    float: left;
    width: 100%;
}

div.end-song table {
    width: 100%;
}

div.end-song-padding {
    margin-top: 5em;
}

td.source {
    font-size: medium;
}

td.changed-source {
    color: #2ecc40;
    font-weight: bold;
}

div.matcher-area {
    float: left;
    width: 100%;
}

div.main-interface {
    float: left;
    width: 100%;
    margin-bottom: 1em;
}

div.submit-area {
    text-align: center;
}
