table, td {
    border: thin solid black;
}

#lines {
    width: 100%;
    height: 100%;
}

div.new-song {
    margin-left: 35%;
    margin-top: 5em;
    float: right;
}

div.end-song {
    margin-top: 5em
}
